<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="com.mrboss.m11sdk"
      version="0.0.1">

    <name>Android m11sdk</name>
    <description>Cordova Android m11sdk Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,android,m11sdk</keywords>
    <repo>https://github.com/Bossierp/com.mrboss.m11sdk.git</repo>
    <issue>https://github.com/Bossierp/com.mrboss.m11sdk/issues</issue>

    <js-module src="www/m11sdk.js" name="m11sdk">
        <merges target="cordova.m11sdk" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="m11sdk">
                <param name="android-package" value="com.mrboss.m11sdk.m11sdk"/>
            </feature>
        </config-file>

        <source-file src="src/android/posindev.jar" target-dir="libs" />

        <source-file src="src/android/m11sdk.java" target-dir="src/com/mrboss/m11sdk" />
        <source-file src="src/android/LedCustomerDisplay.java" target-dir="src/com/mrboss/m11sdk" />
    </platform>

</plugin>